<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Location</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Location</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center;">

    <br>
  
    <h2>Latitude: {{lat}} </h2> 
    <h2>Longatude: {{long}} </h2>
    <h2>Country: {{country}}</h2>
    <h2>County: {{county}}</h2>
    <br>

    <ion-button color="danger" (click)="saveStatus()">Get Location</ion-button>

    <br>
    <P>weather updated: {{timestamp}}</P>

  </div>

</ion-content>